@font-face {
   font-family: 'Tilt Warp';
   src: url('../fonts/TiltWarp-Regular.eot');
   src: url('../fonts/TiltWarp-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiltWarp-Regular.woff2') format('woff2'),
        url('../fonts/TiltWarp-Regular.woff') format('woff'),
        url('../fonts/TiltWarp-Regular.ttf')  format('truetype'),
        url('../fonts/TiltWarp-Regular.svg#Tilt Warp') format('svg');
}

::-webkit-scrollbar {
	width: 0;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header, aslide{display: block;}

html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top}

